body {
  background-color: #1d1d1d; /* Cor de fundo escura */
  color: #dcdcdc; /* Cor do texto */
  font-family: 'Cinzel', sans-serif;
  
}

h1 {
  color: #8b0000; /* Cor do título */
}


.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #8b0000;
    margin: 0 auto; /* centraliza a bolinha no td */
    display: inline-block;
    margin-right: 5px;
  }
  
  .bolinha.clicked {
    background-color: rgb(119, 119, 119);
  }

  .tooltip-trigger {
    cursor: pointer;
    text-decoration: underline;
    color: #550404;
  }
  
  .tooltip {
    display: none;
    position: relative;
    background-color: #000000;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .tooltip.show {
    display: block;
  }

  

  .container {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra de linha quando não há espaço suficiente */
  }
  
  .lista {
    width: 25%; /* Cada div terá 30% da largura da tela */
    padding: 20px;
    margin: 10px;
    background-color: #363636; /* Cor de fundo das divs */
    border: 2px solid #8b0000; /* Cor da borda */
    border-radius: 10px; /* Borda arredondada */
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    padding: 5px 0;
  }